*{
	/*padding: 0;
	margin: 0;*/
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}


*,
*:before,
*:after {
  
  box-sizing: border-box;
}

.hero{
	height: 0vh;
	width: 100%;
	/*margin-top: -100px;*/
	font-family: 'Josefin Sans', sans-serif;
}
nav{
	/*display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 8%;
	padding-right: 8%;*/
}
h2.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	height: 35px;
	width: 160px;
	margin-top: 20px;
	margin-left: 50px;
}
span.un{
	color: #EE5082;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a.abc:hover{
	color: #8E3245;
	transition: .4s;
}
/*.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.1);
}*/
.content{
	position: absolute;
	/*top: 50%;*/
	margin-top: 275px;
	left:8%;
	transform: translateY(-50%);
}
h1.contents{
	color: white;
	margin: 0px 0px -20px;
	font-size: 75px;
}
h3.contents{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4.contents{
	color: /*#fcfc*/ #EE5082;
	letter-spacing: 2px;
	font-size: 25px;
	/*padding-top: 50px;*/
}

/*@media screen and (max-width: 1100px){
	nav ul li a{
		font-size: 14px;
	}
}

@media screen and (max-width: 1030px){
	nav ul li a{
		font-size: 12px;
	}
}*/

/*@media screen and (max-width: 980px){
	nav ul li a{
		font-size: 10px;
	}
}*/

li.bar{
	list-style: none;
}

a{
	text-decoration: none;
}

ul.haut{
	margin-top: -61px;
}

nav{
  background: black;
  opacity: 0.8;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
}
/*label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}*/
nav ul{
  float: right;
  margin-right: 20px;
}
/*nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a.abc{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}*/
/*a.active, a.abc:hover{
  background: #1b9bff;
  transition: 0.5s;
}*/
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media(max-width: 1200px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a.abc{
    font-size: 16px;
  }
}
@media(max-width: 980px){
  .checkbtn{
    display: block;
    height: 0;
    width: 26px;
  }
  ul.haut{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 1;
    top: 130px;
    left: -110%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li.bar{
    display: block;
    margin: 30px 0;
    margin-left: -78px;
    line-height: 30px;
  }
  nav ul li a.abc{
    font-size: 20px;
  }
  /*a.abc:hover, label.button:hover, a.active.abc{
    background: none;
    color: #0082e6;
  }*/
  #check:checked ~ ul{
    left: 0;
  }
}

/*body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}

.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}

.slides{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 800px;
	height: 500px;
}







.navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #40D3DC;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}*/



body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;*/
}

div.principale::before{
	z-index: -100;
	background-color: black;
	content: "";
	position: absolute;
	height: 100%,
	width: 100%;
}

div.principale{
	height: 100vh;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  z-index: -99;
  position: relative;
}

/*.slide.second{
	width: 150%;
}
*/



.slider{
  width: 100%;
  height: 100%;
 /* border-radius: 10px;*/
  overflow: hidden;
  position: relative;
  z-index: -50;
}

.slider::before{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: -99;
}



.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;

 
  z-index: -100;
}

.slide img{
  width: 100%;
  height: 615px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid /*#40D3DC*/ #EE5082 /*#8E3245*/;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: /*#40D3DC*/ /*#8E3245*/ #EE5082;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*automatic navigation*/

.navigation-auto{
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 530px;
}

.navigation-auto div{
	border: 2px solid /*#40D3DC*/ /*#8E3245*/ #EE5082;
	padding: 5px;
	border-radius: 16px;
	transition: 0.5s;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
	transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #EE5082;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #EE5082;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #EE5082;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #EE5082;
}






.about{
	height: 90vh;
	width: 100%;
	padding: 25px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
	width: 60%;

}
/*.fond{
	width: 70%;
}*/

.main{
	/*width: 1130px;*/
	/*max-width: 60%;*/
	/*max-width: 95%;*/
	/*padding-left: 200px;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.title{
	margin-top: -50px;
}

.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	/*margin-bottom: -40px;*/
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	/*margin-bottom: 45px;*/
}
button{
	/*background-color:#f9004d;*/
	background-color: #8E3245;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
	margin-top: 10px;
}
button:hover{
	background-color: transparent;
	border: 2px solid /*#f9004d*/ #8E3245;
	cursor: pointer;
}

@media screen and (max-width: 1050px){
	p.apropos{
		font-size: 16px;
	}
	h2.apropos{
		font-size: 60px;
	}
	h5.apropos{
		font-size: 20px;
	}
	button{
		margin-top: 5px;
	}
	h2.test.apropos{
		font-size: 60px;
	}
}

@media screen and (max-width: 800px){
	p.apropos{
		font-size: 14px;
	}
	h2.apropos{
		font-size: 50px;
	}
	h5.apropos{
		font-size: 17px;
	}
	button{
		margin-top: 0px;
	}
	h2.test.apropos{
		font-size: 50px;
	}
}





div.service{
	height: 200vh;
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
h2.test{
	color: white;
	font-size: 75px;
	/*width: 1130px;*/
/*	margin: 30px auto;*/
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
div.card{
	/*height: 365px;*/
	height: 400px;
	width: 280px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
	/*text-align: center;
	justify-content: center;*/
}
.pra p.service{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 75px;
}

/*.pra p.service.a{
	margin-bottom: 110px;
}*/
.card .button{
	/*background-color:#f9004d;*/
	background-color: #8E3245;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
	margin-top: 0px;
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid /*#f9004d*/ #8E3245;
	cursor: pointer;
}

i.fa-solid.fa-gif{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}


@media screen and (max-width: 900px){
	.pra p.service{
		font-size: 12px;
		line-height: 18px;
	}
	h5.contents{
		font-size: 17px;
	}
	.card .button{
		padding: 5px 15px;
	}
}

@media screen and (max-width: 700px){
	.box{
		display: block;
		align-items: center;
		justify-content: center;
		margin-left: 25%;
		position: absolute;
		display: block;
		margin-left: auto;
		text-align: center;
		padding-left: auto;
	}
	.card{
		align-items: center;
		justify-content: center;
	}
}




footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010 /*#191919*/;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social{
	display: flex;
}

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

.end{
	position: absolute;
	color: #f9004d;
	bottom: 35px;
	font-size: 14px;
}







.crea{
	/*height: 90vh;*/
	width: 100%;
	padding: 25px 0px;
	background-color: #191919;
}

div.ex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


section.crea{
	height: 1100px;
}

div.creas{
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 600px;
	/*background-color: white;*/
}

h4.titre-creas{
	font-size: 23px;
	color: white;
	text-align: center;
}

img.logo{
	width: 300px;
	height: 300px;
	
}

img.ident{
	width: 200px;
	height: 400px;
}

div.exe{
	display: block;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	text-align: center;
}

div.exe{
	margin-top: 100px;
}

@media screen and (max-width: 1000px){
	img.logo{
		width: 200px;
		height: 225px;
	}
	img.ident{
		width: 150px;
		height: 300px;
		/*display: block;*/
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 700px){
	h4.titre-creas{
		font-size: 18px;
	}
}


@media screen and (max-width: 600px){
	h4.titre-creas{
		font-size: 15px;
	}
}

@media screen and (max-width: 650px){
	img.logo{
		width: 150px;
		height: 200px;
	}
	img.ident{
		width: 125px;
		height: 250px;
		/*display: block;*/
	}
}